body{
  background: url(images/background-cement-concrete-242236.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }

.container{
	width: 100%;
	margin: 0 auto;
}

.row{
	margin-top: 80px;
	text-align: center;
}

#lastsect{
	margin-top: 0px;
	text-align: center;
}

.title{
	font-family: 'Krona One', sans-serif;
	color:#E20377;
	text-transform: uppercase;
	font-size: 45px;

}

.object-image {
	width: 330px;
	height: 280px;
	text-align: center;
	margin: 5px auto;
	padding-bottom: 8px;
	padding-top: 8px;
}

.img {
	width: 300px;
	height: 250px;
	margin: 5px auto;
}

#hint {
/*	background-color: #FAF5E6;*/
	display: inline;
	font-family: 'Overpass', sans-serif;
	text-transform: lowercase;
	width: 100px;
	height: 30px;
	font-size: 16px;
	text-align: left;
	color: #0C8203;
	font-style: italic;
}

#player-guess {
	visibility: hidden;
	display: inline-block;
	background-color: #FAF5E6;
	width: 150px;
	height: 45px;
	font-size: 28px;
	text-align: center;
	color: #0563D0;
	margin-top: 10px;
}

#displaymsg {
	font-family: 'Overpass', sans-serif;
	text-transform: lowercase;
	visibility: hidden;
	font-weight: bold;
	font-size: 20px;
	visibility: hidden;
/*	background-color: grey;
	border: 2px solid red;*/
	width: 370px;
	height: 30px;
	text-align: center;
	margin: 10px auto;
	color: #E20377;
}

.gameboard {
/*	width: 700px;*/
	height: 450px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.square {
	width: 9%;
	height: 50px;
	border: 1px solid #E08210;
	border-radius: 10%;
	margin: 2px;
	color: #443D40;;
	font-size: 26px;
/*	font-weight: bold;*/
	text-align: center;
}

.square:hover {
  background-color: #E4FB43;
}

/*buttons*/
#start{

}

#hintbutton {
	visibility: hidden;
	display: inline;
}

#next{
	visibility: hidden;
}